* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 20%;
    margin: 200px auto;
    padding: 15px;
}

img {
    border-radius: 10px;
    width: 100%;
}

h3 {
    text-align: center;

}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}